<h1>Psych Pyramids (preliminary name)</h1>
<div>
	<h2>To Anyone Seeing This:</h2>
	<p>This app is currently in development. Here's what does and doesn't work on the website right now:</p>
	<div layout="row">
		<div layout="column">
			<p>Does Work</p>
			<ul>
				<li>Creating items ("CREATE" tab)</li>
				<li>Deleting items (be careful around those delete buttons)</li>
				<li>Viewing items (eye buttons)</li>
			</ul>
		</div>
		<div layout="column" class="spacer"></div>
		<div layout="column">
			<p>Doesn't Work</p>
			<ul>
				<li>Editing items (pencil buttons)</li>
			</ul>
		</div>
	</div>
	<h3>TODO LIST</h3>
	<ul>
		<li><strike>design view dialog</strike></li>
		<li><strike>implement view dialog</strike></li>
		<li><strike>design edit dialog</strike></li>
		<li><strike>implement edit dialog</strike></li>
		<li><strike>show message after creating a pyramid</strike></li>
		<li>create mass delete button in table -- <i>OR</i> -- remove select functionality</li>
		<li>create filter by unit</li>
		<li>refactor "pyramid" to "tower"</li>
		<li>OPTIONAL: implement column sorting</li>
		<br>
		<li>implement game</li>
	</ul>
</div>
