<div ng-controller="PyramidController">

	<!-- header -->
	<div class="jumbotron text-center"><h1><span class="label label-info">{{ pyramids.length }}</span> Pyramids</h1></div>
	<!-- list of existing pyramids -->
	<table id="pyramid-list" class="table table-striped">
		<thead>
			<tr>
				<th>Term</th>
				<th>Chapter</th>
				<th>Author</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pyramid in pyramids">
				<td>{{ pyramid.name }}</td>
				<td>{{ pyramid.chapter }}</td>
				<td>{{ pyramid.author }}</td>
				<td><span class="text-primary glyphicon glyphicon-pencil"></span></td>
				<td><span class="text-danger glyphicon glyphicon-trash"></span></td>
			</tr>
		</tbody>
	</table>
</div>
