html {
	overflow-y: scroll;
}
.pyramid-button {
	width: 100%;
	text-align: center;
}
td {
	font-size: 16pt;
}
input, textarea, select {
	width: 100% !important;
}
.clickable {
	cursor: pointer;
}
#pyr-form {
	display: inline-block;
	text-align: left;
}
@media screen and (max-width: 900px) {
  #pyr-form {
    width: 100vw;
  }
}
@media screen and (min-width: 901px) {
  #pyr-form {
    width: 50vw;
  }
}
main {
	overflow-y: hidden;
}
.action-column {
	padding: 0px !important;
}
.text-center {
	text-align: center;
}
th, td {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	cursor: default;
}